{% extends "homepage.html" %}

{% block content %}
  </form>
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
      </div>
      <div class="col-md-4  text-center" style="background-color: #bb9f34;">
        <i class="fa fa-5x fa-user-circle-o" style="margin-top: 20px; margin-bottom: 30px; color: white;"></i>
        <p style="color: white; font-size: 200%; text-align: center; ">Password Reset</p>
        <hr width="300px" style="height: 1.5px;">
        <p style="color: white;">Please fill email in below form</p>
        <form action="" method="post">
          {% csrf_token %}
          {% if form.email.errors %}
          <center><p style="color: rgb(255, 0, 0); font-weight: bolder; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Enter a valid email address</p></center>
          {% endif %}
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope" style="color: #bb9f34;"></i></span>
            <input type="input" class="form-control" name="email" id="inputEmail" placeholder="Email address" required >

          </div>
          
         
          <input type="submit" class="btn btn-lg btn-light" value="Reset password" style="margin-bottom: 40px; margin-top: 50px; background-color: white; color: #bb9f34;"/>
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
      </div>
    </div>
  </div>
{% endblock %}